.buttonBlack{
    border: 1px solid;
    color: white;
    background-color: rgb(241, 104, 6);
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 5px 10px;
    animation: buttonBlack 0.5s ease-in-out;
   
}
.button{
    border: 1px;
    background-color: white;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 5px 10px;
} 
@keyframes buttonBlack {
    from {
      opacity: 0;
      transform: translateY(0px);
    }
    to {
      opacity: 1;
      transform: translateY(20px);
    }
  }