.input{
    width: 100%;
    height: 30px ;
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(78, 77, 77, 0.5) ;
}
.submit{
  width: 100%;
  font-weight: 600;
  color: white;
  padding: 20px;
  background-color: red;
}

.button{
    border-radius: 5px;
    height: 30px ;
    width: 100%;
    font-weight: 600;
    color: white;
    box-shadow: -5px 5px 5px rgba(78, 77, 77, 0.5) ;
}

.error{
    width: 100%;
    height: 30px ;
    padding-left: 5px;
    border: 3px solid red;
    border-radius: 5px;
    box-shadow: -5px 5px 2px rgb(238, 158, 158) ;
}

.label{
    padding: 5px;
}